<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="submitted" class="alert alert-success" role="alert" style="text-align: center;">Thank you! Send
                more questions!
            </div>
            <form (ngSubmit)="onSubmit()" #f="ngForm" style="width: 80%;margin: 0 auto;margin-top: 10px;">
                <div class="form-group col-md-8">
                    <input type="text" ngModel name="question" class="form-control"
                        placeholder="Type your question here" required #question="ngModel">
                </div>
                <!-- <button *ngIf="!showLabel" type="button" (click)="onHelp()" class="btn link helpButton">I would like to
                    help with the
                    labelling!</button> -->
                <div class="form-group col-md-4">
                    <select id="label" class="form-control" ngModel name="label">
                        <option value="">Help me label</option>
                        <option *ngFor="let label of labels" [value]="label.value">{{ label.text}}</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-primary " type="submit" style="width: 100%;"
                        [disabled]="!f.valid">Send!</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <!-- <div class="task-list">
        <div *ngFor="let q of questions">
            <div class="col-md-10">
                {{ q.input }}
            </div>
            <div class="col-md-2">
                {{ q.label }}
            </div>
        </div>
    </div> -->
</div>




<!-- <form class="well" (submit)="onSubmit($event)">
    <div class="row">
        <div class="form-group">
            <input type="text" [(ngModel)]="questionString" name="questionString" class="form-control"
                placeholder="How are you?">
        </div>
        <button type="submit" class="btn btn-primary pull-right">Send</button>
    </div>
</form>

<div class="task-list">
    <div *ngFor="let q of questions">
        <div class="col-md-10">
            {{ q.input }}
        </div>
        <div class="col-md-2">
            {{ q.label }}
        </div>
    </div>
</div> -->