<app-header></app-header>
<div class="jumbotron" style="height: 250px;padding-top: 40px;">
  <div class="container">
    <h1 style="margin-bottom: 20px;">Hello, everyone!</h1>
    <p>I am building a chatbot for my Msc project, and I need data
      to train the chatbot using deep learning techniques.</p>
  </div>
</div>
<div class="container">
  <h2>How can you help?</h2>
  <app-questions></app-questions>
  <p class="lead">Simple! All you have to do is type in any question that you would normally
    ask a chatbot in the field above and send. Yep <strong class="bold">ANY</strong> question..Well it would be great if
    your question is related to one of the following categories (althought it's not compulsory):</p>
  <ul class="lead">
    <li><strong>Mood </strong><span class="exampleQuestion">(eg. How are you?)</span></li>
    <li><strong>Origin </strong><span class="exampleQuestion">(eg. Where are you from?)</span></li>
    <li><strong>Identity </strong><span class="exampleQuestion">(eg. Who are you?)</span></li>
    <li><strong>Negative </strong><span class="exampleQuestion">(eg. You are dumb)</span></li>
    <li><strong>Greeting </strong><span class="exampleQuestion">(eg. Hello!)</span></li>
    <li><strong>Goodbye </strong><span class="exampleQuestion">(eg. Bye!)</span></li>
    <li><strong>Thank </strong><span class="exampleQuestion">(eg. Thank you!)</span></li>
    <li><strong>Ability </strong><span class="exampleQuestion">(eg. What can you do?)</span></li>
    <li><strong>Meaning of Life </strong><span class="exampleQuestion">(eg. What is the meaning of life?)</span></li>
    <li><strong>Age </strong><span class="exampleQuestion">(eg. How old are you?)</span></li>
    <li><strong>Positive </strong><span class="exampleQuestion">(eg. Nice to meet you)</span></li>
    <li><strong>Create workflow </strong><span class="exampleQuestion">(eg. Help me create a workflow)</span></li>
  </ul>

  <p class="lead">You can also help me out (if you want) by labelling your questions for me.</p>
  <p class="lead">Ask as many questions as you want. The more questions we get, the better!</p>
  <hr>
</div>
<app-footer></app-footer>